# fly.toml app configuration file generated for tanya-dewi on 2026-01-24T01:24:17+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tanya-dewi'
primary_region = 'sin'

[processes]
app = "python -m uvicorn my_agent.app.server:app --host 0.0.0.0 --port 8001"


[build]

[http_service]
  internal_port = 8001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
